 
body {
    font-family: monospace, sans-serif;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    color: white;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    min-height: 500px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
label {
    margin-top: 10px;
    display: block;
}
input[type="text"], input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background: rgba(69, 69, 69, 0.2);
    color: white;
    font-size: 10px;
    font-family: monospace, sans-serif;
}
 
button {
    font-family: monospace, sans-serif;
    background: #2575fc;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
    width: 70%;
    
    display: block; /* Makes it take full width */
    margin: 40px auto; /* Centers it horizontally */
}

button:hover {
     
    background: #6a11cb;
    transition: 0.3s;
}
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
    h1 {
        font-size: 1.5em;
    }
}